<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>
      {{"HOME" | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
      {{ "HELLO" | translate }}
  </div>
  <div>
    IPADDRESS IS : <br>
    {{ipaddress}} 
  </div>
  <div>
      <ion-card>
          <ion-item>
            <ion-label>
              <strong>NAME OF THE SONG, BITCH</strong><br>
              ARTIST MOTHERFUCKER
            </ion-label>
            <table>
              <tr>
                <td><ion-button fill="clear" size="large" slot="end"><ion-icon name="add"></ion-icon></ion-button></td>
              </tr>
              <tr>
                <td><ion-button fill="clear" size="large" slot="end"><ion-icon name="remove"></ion-icon></ion-button></td>
              </tr>
            </table>
          </ion-item>
      
        </ion-card>
  </div>
  <div><p>https://www.joshmorony.com/an-introduction-to-http-requests-fetching-data-in-ionic/ for ionic connections to server</p>
  <p>https://socket.io/get-started/chat/</p>
<p>https://devdactic.com/ionic-realtime-socket-io/</p></div>
  <button ion-button full (click)="joinChat()">Join Chat as gab</button>
  <ion-button [routerLink]="['/serv-con']">serv-con</ion-button>
</ion-content>
