<ion-app>
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab-nexttracks">
        <ion-icon name="heart"></ion-icon>
        <ion-label>{{"tab_nexttracks" | translate}}</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab-lastadded">
        <ion-icon name="list"></ion-icon>
        <ion-label>{{"tab_lastadded" | translate}}</ion-label>
        <ion-badge>6</ion-badge>
      </ion-tab-button>
  
      <ion-tab-button tab="tab-add">
        <ion-icon name="add"></ion-icon>
        <ion-label>{{"tab_add" | translate}}</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>
