<ion-header>
  <ion-toolbar>
    <ion-title>{{"TAB_ADD" | translate}}</ion-title>
  </ion-toolbar>
  <ion-fab vertical="center" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="flag"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button *ngFor="let lang of translate.getAllLanguages()" (click)="translate.changeLanguage(lang)">
        {{ lang }}</ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-header>

<ion-content>
  
  
  <ion-card class="sc-ion-card-ios-h sc-ion-card-ios-s ios hydrated">
    <img src="./assets/img/party.jpg"/>
    <ion-card-header>
      <ion-card-subtitle>{{"LETSROCKTHESHOW" | translate}}</ion-card-subtitle>
      <ion-card-title>{{"ADDATRACK" | translate}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <!-- [(ngmodel)] is the glue between the view and the variable in tab-add.page.ts-->
      <ion-item>
        <ion-label position="floating">Track's name<ion-text color="danger"> *</ion-text></ion-label>
        <ion-input type="text" required clearInput [(ngModel)]="track"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Artist's name</ion-label>
        <ion-input type="text" clearInput [(ngModel)]="artist"></ion-input>
      </ion-item>
      <br/><br/>
      <ion-button expand="block" fill="outline" (click)="addTrack()">Add</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>